apiVersion: apps/v1
kind: Deployment
metadata:
  name: victoria-logs
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: victoria-logs
  template:
    metadata:
      labels:
        app: victoria-logs
    spec:
      containers:
        - name: victoria-logs
          image: victoriametrics/victoria-logs:latest
          args:
            - -storageDataPath=/victoria-logs-data
            - -retentionPeriod=3d
          ports:
            - name: http
              containerPort: 9428
          volumeMounts:
            - name: data
              mountPath: /victoria-logs-data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: pvc-victoria-logs
---
apiVersion: v1
kind: Service
metadata:
  name: victoria-logs
  namespace: monitoring
spec:
  selector:
    app: victoria-logs
  ports:
    - name: http
      port: 9428
      targetPort: 9428